.content {
  width: clamp(20rem, 50vw, 26rem);
  padding: 1rem;
  background-color: var(--theme-soft);
  border-radius: 0.4rem;
  -webkit-box-shadow: 0rem 0rem 0.6rem 0rem #000000;
  box-shadow: 0rem 0rem 0.6rem 0rem #000000;
}

.popover-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.popover-container p {
  font-weight: bolder;
  color: var(--text-default);
}

.fieldset {
  display: flex;
  align-items: center;
  border: none;
  gap: 2rem;
}

.label {
  color: var(--text-default);
  font-size: 1rem;
}
