.button {
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  margin: 0 0.4rem;
}

.primary {
  padding: clamp(1rem, 1.5vw, 1.6rem) clamp(2rem, 3vw, 2.8rem);
  margin-top: -3em;
  color: var(--text-default);
  background-color: var(--theme-strong);
  border-radius: clamp(0.8rem, 1.5vw, 1.6rem);
}

.secondary {
  padding: clamp(0.6rem, 1.5vw, 1.2rem) clamp(1.6rem, 3vw, 2.4rem);
  margin-top: -3em;
  color: var(--text-default);
  background-color: var(--theme-soft);
  border-radius: clamp(0.8rem, 1.5vw, 1.6rem);
}

.button:hover {
  filter: brightness(80%);
}
