@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 85%;
}

body {
  font-size: 1.6rem;
  font-family: 'roboto flex', sans-serif;
  width: 100%;
  height: 100%;
  background: var(--bg-default);
  transition: all 0.2s ease-in-out;
}
