/* Dark theme is the default theme */
:root {
  /* Focus dark theme */
  --yellow-050: #fffef5;
  --yellow-100: #fffaba;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;
  --yellow-800: #854d0e;
  --yellow-900: #422006;
  --yellow-950: #150d00;

  /* Short break time dark theme */
  --green-050: #f2fff5;
  --green-100: #d9fae1;
  --green-200: #aaf0b9;
  --green-300: #89e89e;
  --green-400: #69e084;
  --green-500: #4dda6c;
  --green-600: #3db257;
  --green-700: #2e8c43;
  --green-800: #216630;
  --green-900: #14401d;
  --green-950: #040d06;

  /* Long break time dark theme */
  --blue-050: #f2f9ff;
  --blue-100: #d9eeff;
  --blue-200: #b0daff;
  --blue-300: #8fcbff;
  --blue-400: #6ebbff;
  --blue-500: #4cacff;
  --blue-600: #3f8dd1;
  --blue-700: #316ea3;
  --blue-800: #234f75;
  --blue-900: #153047;
  --blue-950: #04090d;

  /* Standard dark theme */
  --gray-050: #f3f7ff;
  --gray-100: #e6e9f0;
  --gray-200: #cdd3e1;
  --gray-300: #aab3cc;
  --gray-400: #555f7d;
  --gray-500: #454f6a;
  --gray-600: #363d56;
  --gray-700: #272f43;
  --gray-800: #181f2e;
  --gray-900: #0a0f1a;
  --gray-950: #05070c;

  /* Background default */
  --bg-default: var(--gray-950);
  /* Components default */
  --theme-soft: var(--gray-800);
  --theme-strong: var(--gray-600);

  /* Standard pop-up themes */
  --success: #22c55e;
  --warning: #eab308;
  --error: #991b1b;

  /* Text default color */
  --text-default: var(--gray-050);

  /* Default link themes */
  --link-color: #e6e9f0;
}

/* Dark work theme */
:root[data-theme='dark-work'] {
  /* Background color */
  --bg-default: var(--yellow-950);
  /* Components color */
  --theme-soft: var(--yellow-800);
  --theme-strong: var(--yellow-600);
  /* Text color */
  --text-default: var(--yellow-100);

  /* Default link themes */
  --link-color: #e6e9f0;
}

/* Dark short break theme */
:root[data-theme='dark-shortBreak'] {
  /* Background color */
  --bg-default: var(--green-950);
  /* Components color */
  --theme-soft: var(--green-800);
  --theme-strong: var(--green-600);
  /* Text color */
  --text-default: var(--green-100);

  /* Default link themes */
  --link-color: #e6e9f0;
}

/* Dark long break theme */
:root[data-theme='dark-longBreak'] {
  /* Background color */
  --bg-default: var(--blue-950);
  /* Components color */
  --theme-soft: var(--blue-800);
  --theme-strong: var(--blue-600);
  /* Text color */
  --text-default: var(--blue-100);

  /* Default link themes */
  --link-color: #e6e9f0;
}

/* Light work theme */
:root[data-theme='light-work'] {
  /* Background color */
  --bg-default: var(--yellow-050);
  /* Components color */
  --theme-soft: var(--yellow-100);
  --theme-strong: var(--yellow-500);
  /* Text color */
  --text-default: var(--yellow-900);

  /* Default link themes */
  --link-color: #05070c;
}

/* Light short break theme */
:root[data-theme='light-shortBreak'] {
  /* Background color */
  --bg-default: var(--green-050);
  /* Components color */
  --theme-soft: var(--green-100);
  --theme-strong: var(--green-500);
  /* Text color */
  --text-default: var(--green-900);

  /* Default link themes */
  --link-color: #05070c;
}

/* Light long break theme */
:root[data-theme='light-longBreak'] {
  /* Background color */
  --bg-default: var(--blue-050);
  /* Components color */
  --theme-soft: var(--blue-100);
  --theme-strong: var(--blue-500);
  /* Text color */
  --text-default: var(--blue-900);

  /* Default link themes */
  --link-color: #05070c;
}

:root[data-theme='light'] {
  /* Standard light theme */
  --gray-050: #05070c;
  --gray-100: #0a0f1a;
  --gray-200: #181f2e;
  --gray-300: #272f43;
  --gray-400: #363d56;
  --gray-500: #454f6a;
  --gray-600: #555f7d;
  --gray-700: #aab3cc;
  --gray-800: #cdd3e1;
  --gray-900: #e6e9f0;
  --gray-950: #f3f7ff;

  /* Background default */
  --bg-default: var(--gray-950);
  /* Components default */
  --theme-soft: var(--gray-800);
  --theme-strong: var(--gray-600);

  /* Text default color */
  --text-default: var(--gray-050);

  --link-color: #05070c;
}
