.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  color: var(--text-default);
}

.logo-container p {
  font-size: 1.2rem;
}

.logo-container svg {
  width: 1.6rem;
  height: 1.6rem;
}
