.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1.6rem;
  font-size: clamp(1rem, 1vw, 1.2rem);
  color: var(--text-default);
  height: auto;
  gap: 0.4rem;
}

.footer a {
  text-decoration: none;
  color: var(--text-default);
  transition: all 0.1s ease-in-out;
}

.footer a:hover {
  text-decoration: underline;
  filter: brightness(80%);
}
