/* .container-contet {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.content {
  margin-top: 3.2rem;
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.6rem 1.2rem;
  border-radius: 2.4rem;
  background: var(--gray-900);
  border: 0.2rem solid var(--gray-100);
  color: var(--text-default);
}

.content p {
  font-size: 1.8rem;
}

.content svg {
  width: 2.4rem;
  height: 2.4rem;
}
